body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
   background: linear-gradient(rgb(114, 114, 253), rgb(15, 191, 15));
}

.container {
    border: 1px solid black;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0 0 100px rgba(20, 4, 10, 1.9);
    background: white;

}

h2{
    text-align: center;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;

}

.increment {
    border-radius: 4px;
    border: 0;
    color: white;
    background: rgb(57, 52, 127);
    width: 170px;
    height: 27px;
    margin: 10px;
}

.save {
    border-radius: 4px;
    border: 0;
    color: white;
    background: rgb(2, 167, 2);
    width: 170px;
    height: 27px;
    
}