body {
    font-size: 14px;
    padding: 20px;
    max-width:100%;
    font-family: sans-serif;
}


h1 {
    font-weight: 500;
}

h2 {
    font-weight: 400;
}

.heading {
    text-align: center;
    
}

.wood {
    max-width: 100%;
    width: 100%;
   
}



.container-1 {
    border: 0;
    box-shadow: 0px 10px 10px 
    10px rgb(187, 186, 186);
    width: 100%;
    background: white;
    

}

.title-heading {
    padding: 19px;
    max-width: 100%;
}

button {
    background: white;
    border: 1px solid rgb(214, 209, 209);
    padding: 10px;
    font-size: smaller;
    margin-top: 20px;
    
    
}

.bridge {
    max-width: 100%;
    width: 100%;
}

.container2 {
    border: 0;
    box-shadow: 0px 10px 10px 
    10px rgb(187, 186, 186);
    width: 100%;
    background: white;
}

.title-heading2 {
    padding: 19px;
    max-width: 100%;
}

.span-1 {
    color: gray;
}

.span-2 {
    color: white;
    background: black;
    padding: 5px;
}

.my-name {
    font-weight: 400;
    font-size: large;

}

.container3{
    border: 0;
    box-shadow: 0px 10px 10px 
    10px rgb(187, 186, 186);
    width:100%;
    background: white;
}

h4 {
    font-size: larger;
    font-weight: 100;
    margin: 0px;
    padding: 15px;
    background: rgba(215, 213, 213, 0.397);
}

.workshop {
    width: 60px;
    padding: 10px;
    margin: 2px;
}

.flex {
    display: flex;
}

.flex-2 {
    font-size: medium;
    font-weight: 100;
}

.flex:hover {
    background: rgb(215, 215, 215);
}

.tages {
    background: rgb(239, 239, 239);
    border: 0;
    margin: 10px;
    padding: 8px;
}
.tages1 {
    background: black;
    color: white;
    border: 0;
    margin: 10px;
    padding: 8px;
}

a {
   color: white;
}

.ft{
    background: gray;
    border: 0;
    width: 1000px;
    padding: 20px;
}

.footer-btn1 {
    background: rgb(82, 82, 82);
    border: 0;
    color: rgb(190, 188, 188);
    width: 100px;
}

.footer-btn {
    color: white;
    background:rgb(53, 52, 52);
    border: 0;
    width: 70px;
}

.powered {
    color: white;
}

.footer-btn1:hover{
    background: rgb(173, 173, 173);
    color: rgb(90, 89, 89);
}

.footer-btn:hover {
    color: black;
    background: rgb(240, 239, 239);
}