
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #09237a;
    color: white;
  }



body{
  background-image: linear-gradient( 109.6deg, 
   rgba(112,246,255,0.33) 11.2%, rgba(221,108,241,0.26) 42%,
   rgba(229,106,253,0.71) 71.5%, rgba(123,183,253,1) 100.2% );
}

h2{
    color: rgb(222, 243, 180);
    font-size: xxx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   border-radius: 25px;
   width: 800px;
   height: 100px;
   background: rgb(69, 2, 2);
   
}

span{
    font-size: large;
    font-style: italic;
}


h3{
    text-align: center;
    color: rgb(6, 6, 81);
}

.patronize-1{
    width: 300px;
    height: 40px;
    position: relative;
    animation: mymove 5s infinite;
    font-size: xx-large;
    border-radius: 30%;
    text-align: center;
    color: rgb(249, 238, 174);
    
    background: rgb(105, 3, 3);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes mymove {
    from {left: 10px;}
    to {left: 900px;}

}


#wears {
    background: rgb(35, 45, 13);
    text-align: center;
    border: 40% blueviolet;
    color: rgb(44, 13, 11);
    border-block: rgb(194, 164, 179) dashed 2px;
}

.class-4{
    background: whitesmoke;
    height: 30px;
}

.Trending-2{
    background: linear-gradient(gray, blueviolet, blue) rgb(117, 104, 104);
    height: 20px;
    padding: 1%;
    align-items: center;
    float: none;
    gap: 10px;
    font-weight: 300;
    font-size: x-large;
    text-align: center;
border-radius: 100px;
}



.shoes-images {
  float: left;
  padding: 10px;
}

.shoes-images img {
  width: 300px;
  height: 250px;
  border: 2px solid black;

}

@keyframes bounce {
  10%, 300% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.shoes-images img:hover {
  animation: bounce 0.4s ease-in-out;
}
